---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

import svgPikahat from '../assets/icons/pikahat@2x.svg'
import svgPokedex from '../assets/icons/pokedex@2x.svg'
import svgBackArrow from '../assets/icons/back-arrow@2x.svg'
import svgGearWheel from '../assets/icons/gear-wheel@2x.svg'

const svgRibbons = import.meta.glob('../assets/icons/ribbon-*.svg', { eager: true })
// @ts-expect-error
const ribbons = Object.values(svgRibbons).map(svg => svg.default.src)
---

<Layout>
	<div class="flex flex-col items-center justify-start h-full">
		<div class="pt-[32px] flex items-center justify-between w-full">
			<div class="w-[63px] h-[54px] ml-[24px]">
				<button class="w-full h-full">
					<img src={svgBackArrow.src} alt="Back" class="w-full h-full object-contain" />
				</button>
			</div>
			<a href="#" class="h-[44px] inline-flex items-center justify-center px-4 py-2 text-sm text-white bg-poke-teal rounded-l-full text-[24px] leading-none w-[40cqi] max-w-[260px]">
				<span>
					Main Menu
				</span>
			</a>
		</div>

		<div class="flex-1 flex flex-col items-center justify-center gap-20 w-full">
			<div class="pokeAwards">
				<div class="flex items-center justify-center w-full">
				  <div class="w-6 text-[30px] leading-none text-poke-teal">
						&#x25C0;
					</div>
					<div class="pokeRibbonContainer">
					{ribbons.map(ribbon => (
						<div class="pokeRibbon">
						<img src={ribbon} alt="Ribbon" class="w-full h-full object-contain" />
						</div>
					))}
					 </div>
				  <div class="w-6"> </div>
				</div>
			</div>
			<button id="getBrushing" class="pokeButton w-[78cqi] leading-none font-semibold border-10 rounded-full">
				<span>Get Brushing!</span>
			</button>
			<div class="flex w-[68cqi] items-center justify-between">
				<button class="pokeButton aspect-[5/4] w-auto" style="--button-color:#fa3c3c">
					<span class="sr-only">Pokedex</span>
					<img src={svgPokedex.src} alt="Pokedex" class="w-full h-full object-contain" />
				</button>
				<button class="pokeButton aspect-[5/4] w-auto" style="--button-color:#fac800">
					<span class="sr-only">Hats</span>
					<img src={svgPikahat.src} alt="Hats" class="w-full h-full object-contain" />
				</button>
			</div>
		</div>
		<div class="pokeBottom flex items-center justify-center w-full h-[24vh]">
			<button id="gearButton" class="gearWheel ml-4">
				<img src={svgGearWheel.src} alt="Gear Wheel" class="w-full h-full object-contain" />
			</button>
			<div class="flex-1">
			</div>
			<!-- Dancing Pikachu area -->
		</div>

		<video id="oldFriend" class="hidden absolute z-99 w-full h-full object-cover" src="https://res.cloudinary.com/demaree/video/upload/ar_9:16,c_crop,g_center,h_1080/Rick_Astley_-_Never_Gonna_Give_You_Up_Official_Music_Video_oihxd9.mp4" loop></video>
	</div>
</Layout>

<script>
	const backgroundAudioUrl = "https://res.cloudinary.com/demaree/video/upload/v1743450498/pokemusic-low_kql8hs.m4a";

	const brushButton = document.getElementById('getBrushing') as HTMLButtonElement;
	const gearButton = document.getElementById('gearButton') as HTMLButtonElement;

	let backgroundMusic: HTMLAudioElement | null = null;

	gearButton.addEventListener('click', event => {
		if(!backgroundMusic) {
			backgroundMusic = new Audio(backgroundAudioUrl);
		}

		if(backgroundMusic.paused) {
			backgroundMusic.play();
		} else {
			backgroundMusic.pause();
		}
	})

	function revealRickroll() {
		const oldFriend = document.getElementById('oldFriend') as HTMLVideoElement;

		if(backgroundMusic && !backgroundMusic.paused) {
			backgroundMusic.pause();
		}
		oldFriend.autoplay = false;
		oldFriend.style.display = 'block';
		oldFriend.play();
	}

	brushButton.addEventListener('animationend', event => {
		const elem = event.target as HTMLButtonElement;
		elem.classList.remove('pressed');
		revealRickroll();
		console.log('LET THE ROLLING COMMENCE');
	});

	brushButton?.addEventListener('click', event => {
		const elem = event.target as HTMLButtonElement;
		elem.classList.add('pressed');
	})

</script>

<style>
	@reference "../styles/global.css";

	@layer components {
		.pokeButton {
			@apply flex items-center justify-center bg-white leading-none font-semibold border-10 rounded-xl p-3;
			--button-color: var(--color-poke-teal);
			--button-color-dark: oklch(from var(--button-color) calc(l - 0.12) c h);
			--button-color-light: oklch(from var(--button-color) 0.92 0.06 h);
			
			height: 96px;
			color: var(--button-color);
			font-size: 36px;
			letter-spacing: 0.03em;
			border-color: var(--button-color);
			transform: translateY(var(--button-offset));
			box-shadow: 
				0 var(--shadow-offset-1) 0 0 var(--button-color-dark),
				0 var(--shadow-offset-2) 0 10px var(--button-color-light);

				
			&.pressed {
				/* opacity: 0.5; */
				animation: pokeButtonPress 0.3s ease-in-out;
				/* --shadow-offset-1: 0px;
				--shadow-offset-2: 10px;
				--button-offset: 20px; */
			}
		}

		.pokeRibbon {
			@apply w-[78px] h-[68px];

			background-image: radial-gradient(white 0%, white 44%, var(--color-poke-teal) 44%, var(--color-poke-teal) 54%, transparent 54%);
			background-size: 68px 68px;
			background-repeat: no-repeat;
			background-position: center;
		}

		.pokeRibbonContainer {
			@apply flex items-center justify-center w-full relative;

			& > * {
				position: relative;
				z-index: 22;
			}

			&:before {
				@apply bg-poke-teal;
				position: absolute;
				height: 20px;
				top: 50%;
				left: 24px;
				right: 24px;
				content: '';
				transform: translateY(-50%);
			}
		}

		.gearWheel {
			@apply w-[16cqi] max-w-[120px] h-auto aspect-square;
		}

		.pokeBottom {
			background-image: radial-gradient(var(--color-poke-teal) 0%, var(--color-poke-teal) 54%, transparent 54%);
			background-size: 200% 150%;
			background-repeat: no-repeat;
			background-position: center -50%;

		}
	}
</style>
